@CHARSET "ISO-8859-1";
@font-face{font-family:"Terminal-DosisIE"; src: url("font/termDosis.eot"); font-weight: normal; font-style: normal;}
@font-face{font-family:"Terminal-DosisBoldIE"; src: url("font/termDosisBold.eot"); font-weight: normal; font-style: normal;}
@font-face{font-family:"WebSymbolIE"; src: url("font/ws.eot"); font-weight: normal; font-style: normal;}
@font-face{font-family: "CenturyIE"; src: url("font/Century.eot"); font-weight: normal; font-style: normal;}
@font-face{font-family:"Terminal-Dosis"; src: url("font/termDosis.ttf"); font-weight: normal; font-style: normal;}
@font-face{font-family:"Terminal-DosisBold"; src: url("font/termDosisBold.ttf"); font-weight: normal; font-style: normal;}
@font-face{font-family:"WebSymbol"; src: url("font/ws.ttf"); font-weight: normal; font-style: normal;}
@font-face{font-family: "Century"; src: url("font/Century.ttf"); font-weight: normal; font-style: normal;}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

a:LINK, a:VISITED, a:ACTIVE{
	text-decoration: none;
	color: white;
	box-shadow: rgba(0,0,0,0.5) 0 0 10px inset;
	font-weight: normal;
	border-radius: 5px;
	padding: 10px;
}

html body{
	display: block;
	margin: 0;
	padding: 0;
	background-color: #5882FA;
}
header{
	width: 100%;
}
header div{
	color: white;
	display:inline-block;
	text-align: center;
	font-family: Terminal-DosisIE, Terminal-Dosis;
	font-style: normal;
	font-weight: normal;
}
header div:not(#cajaDatosMedico){
	width: 20%;
	margin-bottom: 2%;
}
#cajaDatosMedico{
	width: 59%;
}
#cajaDatosMedico h2{
	margin-bottom: 15px;
	font-family: Terminal-DosisBoldIE, Terminal-DosisBold;
	font-size: 60px;
}
#cajaMenu{
	background-color: #CEE3F6;
	padding: 2% 0;
	width: 97%;
	height: 340px;
	margin: auto;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.5) 0 0 20px;
}
#menu li{
	list-style-type: none;
	overflow:hidden;
	height: 195px;
	width: 185px;
	position: relative;
	float: left;
	background: #CEE3F6;
	border: 10px #f6f6f6 solid;
	border-radius:100%;
	text-align: center;
	padding: 20px 15px 0 15px;
	margin-right: 17px;
	margin-bottom: 1.5%;
	box-shadow: rgba(0,0,0,0.5) 0 0 5px;
	transition: all 0.5s linear;
}

#menu li span{
	color: #5882FA;
	font-family: WebSymbolIE, WebSymbol;
	font-size: 50px;
	line-height: 90px;
	opacity: 0.2;
	transition: all 0.5s ease;
}

#menu li div{
	color: #1E1E64;
	font-family: Terminal-DosisIE, Terminal-Dosis;
	font-size: 15px;
	opacity: 0.7;
	transition: all 0.5s ease;
}
#menu li div .desc{
	opacity: 0;
}
#menu li:HOVER{
	background-color: #8FC8FD;
	cursor:pointer;
	box-shadow: rgba(0,0,0,0.5) 0 0 15px;
	transform: rotate(360deg);
	-webkit-transform: rotate(-360deg);
}

#menu li:HOVER span{
	color: black;
	font-size: 70px;
	opacity: 0.7;
}

#menu li:HOVER div .desc{
	opacity: 1;
}

#menu li:HOVER div .titulo{
	display: none;
}

#cajaMenu hr{
	clear:both;
	width: 95%;
	border: thin #5882FA solid;
}

#frmCurp{
	width: 30%;
	margin: 1.5% auto;
	font-family: CenturyIE, Century;
}
#frmCurp label{
	margin-right: 5%;
}
#frmCurp input{
	width: 56%;
	height: 25px;
	padding: 1% 2%;
}