@CHARSET "ISO-8859-1";

@font-face{font-family:"FontWebIE";		src: url("font/fontWebIE.eot");		font-weight: normal;	font-style: normal;}
@font-face{	font-family: "CapsulaIE";	src: url("font/Capsula.eot");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "KarlaIE";	src: url("font/Karla.eot");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "TimeBurnerIE";	src: url("font/timeBurner.eot");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "FamiliarIE";	src: url("font/familiar.eot");	font-weight: normal;	font-style: normal;}
@font-face{font-family:"FontWeb";	src: url("font/fontWeb.otf");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "Capsula";	src: url("font/Capsula.ttf");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "Karla";	src: url("font/Karla.ttf");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "TimeBurner";	src: url("font/timeBurner.ttf");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "Familiar";	src: url("font/familiar.otf");	font-weight: normal;	font-style: normal;}
@font-face{font-family:"CenturyIE";		src: url("font/Century.eot");		font-weight: normal;	font-style: normal;}
@font-face{font-family:"CenturyBoldIE";		src: url("font/CenturyBold.eot");		font-weight: normal;	font-style: normal;}
@font-face{font-family:"Century";		src: url("font/Century.ttf");		font-weight: normal;	font-style: normal;}
@font-face{font-family:"CenturyBold";		src: url("font/CenturyBold.ttf");		font-weight: normal;	font-style: normal;}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

a:LINK, a:VISITED, a:ACTIVE{
	text-decoration: none;
	color: white;
	box-shadow: rgba(0,0,0,0.5) 0 0 10px inset;
	font-weight: normal;
	border-radius: 5px;
	padding: 10px;
}

html body{
	display: block;
	margin: 0;
	padding: 0;
	background-color: #04B431;
}
header{
	width: 100%;
}
header div{
	color: black;
	display:inline-block;
	text-align: center;
	font-family: CenturyIE, Century;
	font-style: normal;
	font-weight: normal;
}
header div:not(#cajaDatosPaciente){
	width: 20%;
	margin-bottom: 2%;
}
#cajaDatosPaciente{
	width: 59%;
}
#cajaDatosPaciente h2{
	margin-bottom: 15px;
	font-family: CenturyBoldIE, CenturyBold;
	font-size: 60px;
}

#MenuPaciente{
	position:absolute;
	margin-bottom:-10px
	display: inline-block;
	height: auto;
	font-family: KarlaIE, Arial;
	font-weight:normal;
	font-size: 11px;
}
#frameInfo{
	display: inline-block;
	float: right;
	margin:0;
	width: 76%;
	padding:1%;
	border-radius: 10px 0 0 10px;
	background-color: #E6E6E6;
}
#InfoConsulta{
	border: 0;
}
.activo{
	opacity:1;
	width:255px;
	margin-left: -20%;
	cursor:auto;
	-ms-cursor:auto;
	list-style-type: none;
	background-color: black;
	color: #D0FA58;
	border-radius: 0 10px 10px 0;
}
#Menu li{
	width:240px;
	padding: 2% 3%;
	margin-left: -20%;
	margin-bottom: 1%;
	overflow:hidden;
	list-style-type: none;
	background-color: #64FE2E;
	color: black;
	border-radius: 0 10px 10px 0;
	transition: width 0.7s ease, background-color 0.7s ease, color 0.7s ease;
}
#Menu li h2{
	display: inline-block;
	margin-left: 35px;
}
#Menu li img{
	opacity:0;
	margin-left: 10%;
}

#Menu li:HOVER{
	width:255px;
	margin-left: -20%;
	cursor:pointer;
	-ms-cursor:pointer;
	list-style-type: none;
	background-color: black;
	color: white;
	border-radius: 0 10px 10px 0;
}
#Menu li:HOVER h2{
	display: inline-block;
	-ms-animation: movertitulo 0.7s ease;
	-webkit-animation: moverTitulo 0.7s ease;
	-moz-animation: moverTitulo 0.7s ease;
}
#Menu li:HOVER img{
	opacity: 1;
	-ms-animation: moverImagen 0.7s ease;
	-webkit-animation: moverImagen 0.7s ease;
	-moz-animation: moverImagen 0.7s ease;
}

#agregarMedico .submit{
	margin: auto;
	float: none;
	font-family: CenturyIE, Century, Arial;
	font-size: 12px;
	height: 35px;
	width: 100px;
	color: white;
	background-color: #2F3C51;
	border: 0;
	border-radius: 5px; 
	-o-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -ms-border-radius: 5px;
}

@-webkit-keyframes moverImagen{
	from{transform: translateX(200px);	-webkit-transform: translateX(200px); -o-transform: translateX(200px);}
	to{transform: translateX(0%);	-webkit-transform: translateX(0%);	-o-transform: translateX(0%);}
}
@-moz-keyframes moverImagen{
	from{transform: translateX(200px);	-webkit-transform: translateX(200px); -o-transform: translateX(200px);}
	to{transform: translateX(0%);	-webkit-transform: translateX(0%);	-o-transform: translateX(0%);}
}
@-ms-keyframes moverImagen{
	from{transform: translateX(200px);	-webkit-transform: translateX(200px); -o-transform: translateX(200px);}
	to{transform: translateX(0%);	-webkit-transform: translateX(0%);	-o-transform: translateX(0%);}
}
@-webkit-keyframes moverTitulo{
	from{transform: translateX(-200px);	-webkit-transform: translateX(-200px); -o-transform: translateX(-200px);}
	to{transform: translateX(0%);	-webkit-transform: translateX(0%);	-o-transform: translateX(0%);}
}
@-moz-keyframes moverTitulo{
	from{transform: translateX(-200px);	-webkit-transform: translateX(-200px); -o-transform: translateX(-200px);}
	to{transform: translateX(0%);	-webkit-transform: translateX(0%);	-o-transform: translateX(0%);}
}
@-ms-keyframes moverTitulo{
	from{transform: translateX(-200px);	-webkit-transform: translateX(-200px); -o-transform: translateX(-200px);}
	to{transform: translateX(0%);	-webkit-transform: translateX(0%);	-o-transform: translateX(0%);}
}