@CHARSET "ISO-8859-1";

@font-face{	font-family: familiarIE;src: url('font/familiar.eot');font-weight: normal;font-style: normal;}
@font-face{font-family: CenturyIE;src: url("font/Century.eot"); font-weight: normal; font-style: normal;}
@font-face{	font-family: familiar;src: url('font/familiar.otf');font-weight: normal;font-style: normal;}
@font-face{font-family: Century;src: url("font/Century.ttf"); font-weight: normal; font-style: normal;}

*{
	margin: 0px;
	padding: 0px;
}
header, section, article, footer{
	display: block;
}
body {
	background-color: #1F497D;
	text-align: center;
}


#encabezado{
	margin: -0.5% 0% 5% 0%;
	border-bottom: 1px #3292F8 solid;
	text-align: left;
	box-shadow: rgba(0,0,0,0.5) 0 0 70px inset;
	-o-box-shadow: rgba(0,0,0,0.5) 0 0 70px inset; -moz-box-shadow: rgba(0,0,0,0.5) 0 0 70px inset; -webkit-box-shadow: rgba(0,0,0,0.5) 0 0 70px inset; -ms-box-shadow: rgba(0,0,0,0.5) 0 0 70px inset;
}
#encabezado ul li:not(#descPag){
	display: inline-block;
	margin-left:5%;
	margin-right: 60%;
}
#descPag{
	display: inline-block;
	text-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	-o-text-shadow: rgba(0,0,0,0.5) 5px 5px 10px; -moz-text-shadow: rgba(0,0,0,0.5) 5px 5px 10px; -webkit-text-shadow: rgba(0,0,0,0.5) 5px 5px 10px; -ms-text-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}
#encabezado h1{
	font-family: familiarIE, familiar, cursive;
	font-size: 300%;
	color: #7AA3CC;
	margin: 0% 0% 5% 0%;
}
img{
	margin: 1%;
}

#cajaLogin{
	position: relative;
	margin: auto;
	color: #505054;
	font: menu;
	background-color: #D0D0CB;
	width: 400px;
	height: 290px;
	border-radius: 7px 7px 7px 7px; 
	-o-border-radius: 7px 7px 7px 7px; -moz-border-radius: 7px 7px 7px 7px; -webkit-border-radius: 7px 7px 7px 7px; -ms-border-radius: 7px 7px 7px 7px;
	box-shadow: rgba(255,255,255,0.5) 0 0 10px inset;
}

#cajaLogin header{
	text-align: center;
	color: #D0D0CB;
	background-color: #505054;
	margin-bottom: 3%;
	padding: 3%;
	border-radius: 7px 7px 0 0; 
	-o-border-radius: 7px 7px 0 0; -moz-border-radius: 7px 7px 0 0; -webkit-border-radius: 7px 7px 0 0; -ms-border-radius: 7px 7px 0 0;
	box-shadow: rgba(0,0,0,0.3) 0px 0px 50px inset;
}
#frmLogin{
	margin:auto;
	width: 80%;
	text-align: left;
}

input[name^="txt"]{
	font-family: CenturyIE, Century, Arial;
	font-size: 15px;
	outline: none;
	width: 90%;
	height: 30px;
	padding: 0 4%;
	margin-bottom: 3%;
}
label{
	font-family: CenturyIE, Century, Arial;
	font-size: 15px;
	line-height: 30px;
}

a,a:ACTIVE, a:HOVER {
	display: inline-block;
	float: left;
	color: blue;
	font-size: small;
	margin-top: 8%;
	text-decoration: none;
}

a:HOVER{
	text-decoration: underline;
	cursor: pointer;
}
.botonLogin{
	margin: 5% 0 10% 0;
	float: right;
	font-family: CenturyIE, Century, Arial;
	font-size: 15px;
	height: 35px;
	width: 100px;
	color: white;
	background-color: #2F3C51;
	border: 0;
	border-radius: 5px; 
	-o-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -ms-border-radius: 5px;
	
}
.botonLogin:HOVER {
	background-color: #3A546E;
	cursor: pointer;
	box-shadow: rgba(255,255,255,0.6) 0px 0px 10px inset;
}

#cajaInstrucciones{
	position: relative;
	display: none;
	float: right;
	text-align: justify;
	font-family: CenturyIE, Century, Arial;
	font-size: 13px;
	border: thin #D0D0CB solid;
	border-radius: 10px;
	width: 60%;
	margin-top: -25%;
	margin-right: 3%;
	padding: 1% 2% 2% 2%;
	color: #D0D0CB;
}
#cajaInstrucciones header{
	font-size: 30px;
	font-weight: bold;
	color: white;
	margin-bottom: 15px;
	text-shadow: rgba(0,0,0,0.7) 5px 5px 10px;
}
strong{
	color: white;
}
p{
	margin-bottom: 5px;
}