@CHARSET "ISO-8859-1";

@font-face{font-family:"CenturyIE";		src: url("font/Century.eot");		font-weight: normal;	font-style: normal;}
@font-face{font-family:"Century";		src: url("font/Century.ttf");		font-weight: normal;	font-style: normal;}
@font-face{font-family:"CenturyBoldIE";		src: url("font/CenturyBold.eot");		font-weight: normal;	font-style: normal;}
@font-face{font-family:"CenturyBold";		src: url("font/CenturyBold.ttf");		font-weight: normal;	font-style: normal;}

*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #B22222;
}

#Contenedor{
	font-family: CenturyIE, Century, Arial;
	font-size: 13px;
	background-color:#F6CECE;
	margin: 50px auto 0 auto;
	width: 80%;
	color: black;
	border: thin solid #848484;
	padding: 5%;
	box-shadow: rgba(0,0,0,0.7) 0 0 20px;
}
#btnCancelar, #btnAccion{
	display: inline-block;
	margin-left: 5%;
	border: thin solid gray;
	width: 120px;
	height: 35px;
	border-radius: 3px;
	-ms-border-radius: 3px;
	
}

#btnCancelar:HOVER, #btnAccion:HOVER{
	background-color: #BDBDBD;
	cursor: pointer;
	
}

/* ------------------------Inicia el estilo Registro usuario---------------------- */

#lateral{
	display: inline-block;
	float: left;
	width: 50%;
	margin-right: 1%;
}
#datosPersonales{
	height: 330px;
}
#datosPersonales input{
	margin-bottom: 22px;
}

fieldset{
	border: #848484 solid thin;
	border-radius: 10px;
	-ms-border-radius: 10px;
	padding: 20px 0;
}

input[id^="txt"], select{
	display: block;
	background-color: #F2F2F2;
	height: 30px;
	width: 270px;
	padding: 0 10px;
	outline-style: none;
	margin: 0 auto 10px auto;
	border: thin solid gray;
	border-radius: 3px;
	-ms-border-radius: 3px;
	
}
input:FOCUS {
	background-color: #BDBDBD;
}
input.chico{
	margin-left: 8.5%;
	display: inline-block;
	width: 90px;
}

#Botones{
	margin: 20px auto 0 auto;
	width: 70%;
	padding-left: 25%;
}

input.bien{
	background-color: #BCF5A9;
	border-color: #0B610B;
}
input.error{
	background-color: #FA5858;
	border-color: #8A0808;
}
input.bienChico{
	margin-left: 8.5%;
	display: inline-block;
	background-color: #BCF5A9;
	border-color: #0B610B;
	width: 90px;
	
}
input.errorChico{
	margin-left: 8.5%;
	display: inline-block;
	background-color: #FA5858;
	border-color: #8A0808;
	width: 90px;
}

/* ------------------------Inicia el estilo Registro Administrador---------------------- */

#cajaRegistro
{
	text-align: center;
	margin: auto;
	border: thin solid #848484;
	width: 50%;
}

#frmRegAdmin{
	padding-top: 20px;
	margin: 0 auto 20px auto;
	width: 330px;
}

/* ------------------------Inicia el estilo Administrar Pacientes---------------------- */



#cajaTabla header{
	
	text-align: center;
	font-size: 25px;
}

hr{
	margin: 10px auto;
}
#tablaUsuarios
{
	text-align:center;
	width: 100%;
	border: thin solid black ;
	border-radius: 5px;
	border-spacing: 0;
	margin-bottom: 2%;
}

#tablaUsuarios tr th{
	background: #585454;
	color: white;
	font-family: CenturyBoldIE, CenturyBold;
	height: 30px;
	border-left: thin gray solid;
}

#tablaUsuarios tr:nth-child(2n){
	background-color: #EF5858;
	font-size: 12px;
	border-left: thin black solid;
	height: 25px;
}

#tablaUsuarios tr:nth-child(2n-1){
	background-color: #E22E2E;
	font-size: 12px;
	border-left: thin black solid;
	height: 25px;
}

#tablaUsuarios tr td img:HOVER{
	cursor: pointer;
}

