@CHARSET "ISO-8859-1";

@font-face{font-family:"FontWebIE";		src: url("font/fontWebIE.eot");		font-weight: normal;	font-style: normal;}
@font-face{	font-family: "CapsulaIE";	src: url("font/Capsula.eot");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "KarlaIE";	src: url("font/Karla.eot");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "TimeBurnerIE";	src: url("font/timeBurner.eot");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "FamiliarIE";	src: url("font/familiar.eot");	font-weight: normal;	font-style: normal;}
@font-face{font-family:"FontWeb";	src: url("font/fontWeb.otf");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "Capsula";	src: url("font/Capsula.ttf");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "Karla";	src: url("font/Karla.ttf");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "TimeBurner";	src: url("font/timeBurner.ttf");	font-weight: normal;	font-style: normal;}
@font-face{font-family: "Familiar";	src: url("font/familiar.otf");	font-weight: normal;	font-style: normal;}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

a:LINK, a:VISITED, a:ACTIVE{
	text-decoration: none;
	color: #BDBDBD;
	box-shadow: rgba(0,0,0,0.5) 0 0 10px inset;
	font-weight: normal;
	font-style: oblique;
	border-radius: 5px;
	padding: 10px;
}

html body{
	display: block;
	margin: 0;
	background-color: #B22222;
}
header{
	width: 100%;
}
header div{
	color: #BDBDBD;
	display:inline-block;
	text-align: center;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
}
header div:not(#cajaDatosAdmin){
	width: 20%;
	margin-bottom: 3%;
}
#cajaDatosAdmin{
	width: 59%;
}
#cajaDatosAdmin h2{
	margin-bottom: 15px;
	font-family: TimeBurnerIE, TimeBurner;
	font-size: 60px;
}

#Contenedor{
	margin:auto;
	width: 90%;
}

#contenedorMenu{
	background-color: #F2F2F2;
	width: 90%;
	margin: auto;
	padding: 20px 0 20px 3%;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,1) 0 0 20px;
}

#menuAdmin li{
	display: inline-block;
	cursor:pointer;
	overflow: hidden;
	margin:1%;
	padding:1%;
	width: 200px;
	height: 300px;
	opacity:0.9;
	text-align: center;
	border-radius: 5px;
	transition: background 0.7s ease;
}

#menuAdmin li span{
	font-family:  FontWebIE, FontWeb;
	font-size: 60px;
	color: #2E2E2E;
	transition: font-size 0.7s ease, color 0.7s ease, box-shadow 0.7s ease;
}
#menuAdmin li h2{
	font-family: CapsulaIE, Capsula;
	margin-bottom: 15%;
	margin-top: 15%;
	font-size: 35px;
	color: #585858;
}
#menuAdmin li h3{
	font-family: KarlaIE, Karla;
	font-size: 15px;
	color: #BDBDBD;
}
#menuAdmin li:HOVER{
	background-color: black;
	height: 300px;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.7) 0 0 20px;
}
#menuAdmin li:HOVER span{
	font-size: 80px;
	color: #F7EFEF;
}
#menuAdmin li:HOVER h2{
	color: #0489B1;
	-webkit-animation: moverTitulo 0.7s ease;
	-ms-animation: moverTitulo 0.7s ease;
}
#menuAdmin li:HOVER h3{
	color: #F7EFEF;
}

@-webkit-keyframes moverTitulo{
    from {
        -webkit-transform: translateX(-100%) rotate(-90deg);
        -ms-transform: translateX(-100%) rotate(-90deg);
    }
    to {
        -webkit-transform: translateX(0%) rotate(0deg);
        -ms-transform: translateX(0%) rotate(0deg);
    }
}

#Pie{
	padding: 3%;
	background-image: url("../img/backFooter.png");
}
#Derechos{
	text-align:center;
	color: white;
	font-family: menu;
	width: 100%;
	background: #1C1C1C;
	border-top: thin solid white;
}
#Derechos cite{
	margin: 1% 0;
}