@CHARSET "ISO-8859-1";
@font-face{font-family:"Terminal-DosisIE"; src: url("font/termDosis.eot"); font-weight: normal; font-style: normal;}
@font-face{font-family:"Terminal-DosisBoldIE"; src: url("font/termDosisBold.eot"); font-weight: normal; font-style: normal;}
@font-face{font-family:"WebSymbolIE"; src: url("font/ws.eot"); font-weight: normal; font-style: normal;}
@font-face{font-family: "CenturyIE"; src: url("font/Century.eot"); font-weight: normal; font-style: normal;}
@font-face{font-family:"Terminal-Dosis"; src: url("font/termDosis.ttf"); font-weight: normal; font-style: normal;}
@font-face{font-family:"Terminal-DosisBold"; src: url("font/termDosisBold.ttf"); font-weight: normal; font-style: normal;}
@font-face{font-family:"WebSymbol"; src: url("font/ws.ttf"); font-weight: normal; font-style: normal;}
@font-face{font-family: "Century"; src: url("font/Century.ttf"); font-weight: normal; font-style: normal;}

html body{
	display: block;
	margin: 0;
	padding: 0;
	background-color: #5882FA;
}

section#principal {
	position: absolute;
	display: block;
	width: 50%;
	top: 40%;
	left: 50%;
	margin-left: -25%;
	z-index: 1;
	background-color: #5891DF;
}



p{
	color: white;
}


header{
	color: white;
	display:inline-block;
	text-align: center;
	font-family: Terminal-DosisIE, Terminal-Dosis;
	font-style: normal;
	font-weight: normal;
}

label{
	color: white;
}

header {
	width: 100%;
}